/* Menu */

#menu .first a {
	margin: 0 0 0 -2px;
}

#menu .active a {
	margin: 0 0 0 2px;
}

/* Page */

#page {
	background: /*#1777B1*/#0AA9FD;
	width: 730px;
	margin: 0 auto 20px auto;
	padding: /*10px 0 15px*/10px 5px 15px 5px;
	border: 2px;
	border-bottom: 1px solid #4AF4FE;
	margin-bottom: 20px;
	clear: both;
}

/* Galeria */
/*
.galeria {
	height: 312px;
}
*/
.zdjecie {
	float: left;
	margin: 0 10px 20px 0;
	width: 160px;
	height: 120px;
}

.zdjecie_link_opis {
	clear: both;
	margin: 10px 0;
}

/* Lightbox */

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

/* Kontakt */

.contact {
	font-size: 18px;
	text-align: center;
}

#table_contact {
	width: 730px;
	border-collapse: collapse;
	border: 2px solid #4AF4FE;
	text-align: center;
	margin-bottom: 15px;
}

#table_contact td {
	border: 2px solid #4AF4FE;
	text-align: center;
	background: #0AAAFD;
	padding: 1px 5px;
}